<?php

/** @var $block \Onetree\WeaveeDashboard\Block\DashboardIframe */
$message = __('Sorry, can\'t load dashboard');
$dashboardUrl = false;

try {
    $dashboardUrl = $block->getDashboardUrlWithKey();
} catch (\Exception $exception) {
    $message = $exception->getMessage();
}
?>

<div class="iframe-container">
    <?php
    if (!$dashboardUrl): ?>
        <div class="error-message"><h2><?= $block->escapeHtml($message) ?></h2></div>
    <?php else: ?>
        <iframe src="<?= $block->escapeHtml($dashboardUrl) ?>" loading="lazy"></iframe>
    <?php endif; ?>
</div>
